@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}


.App {
    text-align: center;
   
  }
.App > section {
  height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
  

.welcome-section {
    
    padding: 50px 0;
    height: 100vh;
    display: flex;
    justify-content: center;
   align-items: center;
   
  }

  .typewriter {
    overflow: hidden;
    border-right: .15em solid var(--color); /* Color del cursor */
    /* white-space: nowrap; */
    /* margin: 0 auto; */
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end),
      blink .75s step-end infinite;
  }

  .perfil{
    width: 15rem;
    border-radius: 50%;
    object-fit: fill; /* Mantiene la proporción de la imagen y la ajusta dentro del contenedor */
   filter: drop-shadow(0px 0px 10px var(--color)); 
  }
  .perfil:hover{

   filter: drop-shadow(0px 0px 15px var(--color));
      
  }

  

  .about-parrafo{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: pre-line;
  }
 
  
  

  @media (max-width:600px) {


    .App > section {
      height: 100%;
      max-width: 100vw;
      margin-top: 2rem;
        
    }   
    .welcome-section {
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 100vw;
    }

    .perfil{
      margin-top: 4rem;
    }
    
  }