.projects{
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;

    
}
  

  .project{
    color: white;
    background-color: rgba(255, 253, 253, 0.057); /* Ajusta el último valor (0.7) para cambiar la opacidad */
  padding: 30px;
  height: 27rem;
  font-size: 0.9rem;
  
  }