.carousel-wrapper {
  position: relative;
  overflow: hidden;
}

/* .carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.project-card {
  min-width: calc(100% / 3);
  width: 25rem;
  height: 20rem;
  padding: 1rem;
  background-color: var(--fondo);
  color: white;
  border: var(--color) solid 2px;
  border-radius: 15px;
  margin: 1rem;
  text-align: center;
}

@media (max-width: 600px) {
  .project-card {
    min-width: 100%; /* Mostrar 1 tarjeta a la vez en pantallas pequeñas */
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 2rem;
  color: white;
  z-index: 2;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}
