.input{
    border: var(--color) solid 2px;
    background-color: var(--fondo);
    border-radius: 15px;
    color: var(--color);
   
}

.input:focus{
    background-color: var(--fondo);
    border: var(--color) solid 2px;
    color: var(--color);
    outline: none;
    filter: drop-shadow(0px 0px 5px var(--color)); 
}